@charset "UTF-8";
/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tipografía header, body y footer*/
#header, #body, #footer {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

/*Tipografía títulos*/
.titulos {
  font-family: "Lobster Two", sans-serif;
  align-self: center;
  color: #52198B;
  font-size: 40px;
}

/*Estilos del Body*/
#body {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 70px;
}

/*Estilos del Nav*/
#header {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: #14B6CC;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navbar.navbar-expand-lg {
  padding: 0;
}

.navbar-nav .nav-link.active {
  background-color: #E6701A;
  color: white;
  border-radius: 3px;
}

.navbar a:hover {
  color: #52198B;
}

.navbar a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.navbar-brand {
  width: 15%;
  height: auto;
}

.navbar img {
  width: 70%;
  height: auto;
}

.container-fluid {
  padding: 0 0;
}

/*Estilos del Main*/
#main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#slider {
  width: 100%;
}

.botones {
  background-color: #14B6CC;
  border-style: none;
  border-radius: 20px;
  padding: 20px 50px;
  font-size: 20px;
  font-family: josefin sans;
}

.botones a {
  text-decoration: none;
  color: white;
}

.botones:hover {
  background-color: #E6701A;
  transition: 0.1s;
}

#seccion-1 {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seccion-1-Box1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.seccion-1-Box1 p {
  width: 50%;
}

.separador {
  color: #E6701A;
  border-style: double;
  width: 20%;
  align-self: center;
  margin-top: 4px;
}

.seccion-1-Box2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.seccion-1-Box3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.tiktok-embed {
  overflow: scroll;
}

#banner-inicio {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(../imagenes/banner-inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.titulosBanners {
  width: 100%;
  color: white;
  font-weight: 900;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.753);
  display: flex;
  justify-content: center;
  z-index: 2;
}

#seccion-2 {
  width: 100%;
  height: auto;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seccion-2-Box1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seccion-2-Box2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seccion-2-Box2 img {
  height: 100%;
  width: 500px;
  padding-top: 30px;
}

#carouselExampleAutoplaying {
  width: 70%;
}

.carousel-control-prev-icon {
  position: absolute;
  left: -40px;
}

.carousel-control-next-icon {
  position: absolute;
  right: -40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.256);
}

/*Estilos de Experiencias*/
#experiencias {
  width: 100%;
  height: auto;
  padding: 80px 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.categorias {
  display: flex;
  justify-content: center;
  background-color: #E6701A;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

#entradasBlog {
  height: auto;
  padding: 0 20px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: "entrada1 entrada2 entrada3" "entrada4 entrada5 .";
}

.entrada1 {
  grid-area: entrada1;
}

.entrada2 {
  grid-area: entrada2;
}

.entrada3 {
  grid-area: entrada3;
}

.entrada4 {
  grid-area: entrada4;
}

.entrada5 {
  grid-area: entrada5;
}

.entradas img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.entradas {
  position: relative;
}

.categorias {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tituloEntrada {
  text-align: center;
}

#banner-experiencias {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(../imagenes/banner-experiencias.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

#seccion2Experiencias {
  width: 100%;
  height: auto;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seccion2-Box1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Estilos de Quienes somos*/
#quienesSomos {
  width: 100%;
  height: auto;
  padding: 80px 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#nosotros {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nosotros1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 20px;
  gap: 30px;
}

.fotos {
  width: 30%;
  border-radius: 50%;
}

.nosotros2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 0;
  gap: 30px;
}

#bannerNosotros {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(../imagenes/banner-nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

#nosotrosCarrusel {
  width: 100%;
  height: auto;
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.nosotros3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#glosario {
  width: 100%;
  height: auto;
  padding: 80px 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

#definiciones {
  height: auto;
  padding: 0 20px 20px;
  width: 100%;
  display: grid;
}

.accordion-button {
  background-color: #E6701A;
  color: white;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #E6701A;
}

.accordion-item {
  background-color: rgba(217, 221, 222, 0.168627451);
}

#banner-glosario {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(../imagenes/banner-glosario.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
}

.banners:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 25, 139, 0.2196078431); /* Color con opacidad */
}

#seccionCarrusel {
  width: 100%;
  height: auto;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seccionCarrusel-Box1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#glosarioCarrusel {
  width: 100%;
  height: auto;
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contacto {
  width: 100%;
  height: auto;
  padding: 80px 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

#formulario {
  width: 100%;
  height: auto;
  padding: 0 50px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.btn-primary {
  color: white;
  background-color: #E6701A;
  border-color: #E6701A;
}

.btn-primary:hover {
  background-color: #52198B;
  border-color: #52198B;
}

.btn-primary:active {
  background-color: #52198B;
  border-color: #52198B;
}

.form-control {
  background-color: rgba(217, 221, 222, 0.3568627451);
}

/*Estilos Footer*/
#footer {
  margin-top: auto;
  width: 100%;
  height: auto;
  background-color: #D9DDDE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footerLogo a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.footerLogo {
  width: 20%;
  display: flex;
  align-items: left;
}

.footerLogo img {
  width: 50%;
}

.footerTexto {
  width: 60%;
  font-size: 20px;
  color: black;
  padding: 5px;
  justify-content: center;
  text-align: center;
}

.footerRedes a {
  width: 20%;
  font-size: 30px;
  color: black;
  width: 60px;
  padding: 5px;
  text-align: center;
}

.footerRedes {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Breackpoints*/
@media (max-width: 992px) {
  .navbar-toggler {
    border: none;
  }
  .navRedes {
    display: none;
  }
}
@media (max-width: 600px) {
  #entradasBlog {
    grid-template-columns: 1fr;
    grid-template-rows: 5, 1fr;
    grid-template-areas: "entrada1" "entrada2" "entrada3" "entrada4" "entrada5";
  }
  #experiencias {
    padding-top: 30px;
  }
  #quienesSomos {
    padding-top: 30px;
  }
  #glosario {
    padding-top: 30px;
  }
  #contacto {
    padding-top: 30px;
  }
  #footer {
    flex-direction: column;
  }
  .footerLogo {
    display: none;
  }
  #banner-inicio {
    height: 200px;
  }
  #banner-experiencias {
    height: 200px;
  }
  #bannerNosotros {
    height: 200px;
  }
  #banner-glosario {
    height: 200px;
  }
  .seccion-1-Box2 {
    flex-direction: column;
  }
  .seccion2-Box1 {
    flex-direction: column;
    text-align: center;
  }
  .botonViajes {
    order: 1;
  }
  .seccion-2-Box2 {
    flex-direction: column;
  }
  .seccion-1-Box3 {
    flex-direction: column;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  #entradasBlog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3, 1fr;
    grid-template-areas: "entrada1 entrada2" "entrada3 entrada4" "entrada5 .";
  }
  #experiencias {
    padding-top: 30px;
  }
  #quienesSomos {
    padding-top: 30px;
  }
  #glosario {
    padding-top: 30px;
  }
  #contacto {
    padding-top: 30px;
  }
  .navbar img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  #experiencias {
    padding-top: 30px;
  }
  #quienesSomos {
    padding-top: 30px;
  }
  #glosario {
    padding-top: 30px;
  }
  #contacto {
    padding-top: 30px;
  }
  .navbar img {
    width: 100%;
    height: auto;
  }
  .seccion-1-Box3 {
    flex-direction: column;
    align-items: center;
  }
  .seccion-1-Box1 {
    flex-direction: column;
    text-align: center;
  }
  .seccion-1-Box1 p {
    width: 100%;
  }
  .seccion-2-Box1 {
    flex-direction: column;
    text-align: center;
  }
  .titulos {
    text-align: center;
  }
  .nosotros1 {
    flex-direction: column;
  }
  .nosotros2 {
    flex-direction: column;
  }
  .fotos {
    width: 60%;
  }
  .fotoCarlos {
    order: 1;
  }
}
@media (max-width: 420px) {
  #experiencias {
    padding-top: 30px;
  }
  #quienesSomos {
    padding-top: 30px;
  }
  #glosario {
    padding-top: 30px;
  }
  #contacto {
    padding-top: 30px;
  }
  .navbar img {
    width: 100%;
    height: auto;
  }
  .titulos {
    font-size: 30px;
  }
  .botones {
    padding: 10px 30px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
