/*Breackpoints*/
@media (max-width:992px) {
    .navbar-toggler {border:none;}
    .navRedes {display: none;}}

@media (max-width: 600px) {
    #entradasBlog {
        grid-template-columns: 1fr;
        grid-template-rows: (5,1fr);
        grid-template-areas: 
        "entrada1"
        "entrada2"
        "entrada3"
        "entrada4"
        "entrada5";}

    #experiencias {padding-top: 30px;}
    #quienesSomos {padding-top: 30px;}
    #glosario {padding-top: 30px;}
    #contacto {padding-top: 30px;}
    
    #footer {flex-direction: column;}

    .footerLogo {display: none;}

    #banner-inicio {height: 200px;}

    #banner-experiencias {height: 200px;}

    #bannerNosotros {height: 200px;}

    #banner-glosario {height: 200px;}

    .seccion-1-Box2 {flex-direction: column;}

    .seccion2-Box1 {flex-direction: column;
        text-align: center;}

    .botonViajes {order: 1;}

    .seccion-2-Box2 {flex-direction: column;}

    .seccion-1-Box3 {flex-direction: column;}

    #formulario {padding: 0 20px 30px;}}

@media (min-width:600px) and (max-width: 768px) {
    #entradasBlog {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (3,1fr);
        grid-template-areas: 
        "entrada1 entrada2"
        "entrada3 entrada4"
        "entrada5 .";}

    #experiencias {padding-top: 30px;}
    #quienesSomos {padding-top: 30px;}
    #glosario {padding-top: 30px;}
    #contacto {padding-top: 30px;}

    .navbar img {width: 100%;
        height: auto;}}

@media (max-width:768px) {
    #experiencias {padding-top: 30px;}
    #quienesSomos {padding-top: 30px;}
    #glosario {padding-top: 30px;}
    #contacto {padding-top: 30px;}

    .navbar img {width: 100%;
        height: auto;}

    .seccion-1-Box3 {flex-direction: column;
    align-items: center;}
    .seccion-1-Box1 {flex-direction: column;
        text-align: center;}

    .seccion-1-Box1 p {width: 100%;}

    .seccion-2-Box1 {flex-direction: column;
        text-align: center;}

    .titulos {text-align: center;}

    .nosotros1 {flex-direction: column;}

    .nosotros2 {flex-direction: column;}

    .fotos {width: 60%;}

    .fotoCarlos {order: 1;}}

@media (max-width:420px) {
    #experiencias {padding-top: 30px;}
    #quienesSomos {padding-top: 30px;}
    #glosario {padding-top: 30px;}
    #contacto {padding-top: 30px;}

    #nosotrosCarrusel {text-align: center;}

    .container-fluid {padding-top: 10px}

    .navbar img {width: 100%;
        height: auto;}

    .titulos {font-size: 30px;}

    .botones {padding: 10px 30px;
        font-size: 18px;}}